<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmILQULL7mlAYCdDV7sx_Q5uXc-WH_o48</string>
	<key>GCM_SENDER_ID</key>
	<string>550557417771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.echo</string>
	<key>PROJECT_ID</key>
	<string>reactnative-66e5a</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnative-66e5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550557417771:ios:4b029b5b8332f52ce5056e</string>
</dict>
</plist>